.txt-center {
    text-align: center;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}
       td
       {
           padding:10px 15px ;
           font-size:small;
           font-style:oblique;
       }
       .main1
       {
           border: 2px solid darkred;
           margin:20px 300px;
       }
       p {
        font-weight: bold;
        
      }
      .main2
      {
          background-color: dimgray;
      }
      .main3
      {
          padding: 20px 20px;
      }
      .main4
      {
          padding:10px 10px;
      }
      .main5{
          background-color:gainsboro;
        
      }

   